.edit-form{
    flex-direction: column;
    padding: 1rem;
    max-width: 480px;
    margin-inline: auto;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.184);
    margin-top: 5rem;
}

.edit-form > input,
.edit-form > textarea{
    margin-bottom: 1rem;
    border: 0.4px solid rgb(196, 196, 196);
}

.edit-form > input{
    height: 32px;
}

.edit-form > textarea{
    min-height: 7rem;
}

.edit-submit{
    padding: 1rem;
    background-color: var(--primary);
    color: white;
    border: none;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.delete-btn{
    background-color: rgb(165, 2, 2);
    border: none;
    color: white;
    padding: 10px;
}