*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid grey; */
}

:root{
  --primary: #E9A719;
}

body{
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

a, input, textarea, button, img{
  display: block;
}

a{
  text-decoration: none;
}

textarea{
  resize: none;
}

.flex{
  display: flex;
}
