*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

a, input, textarea, button{
  display: block;
}

textarea{
  resize: none;
}
